# vim: ft=jinja
# This file handles the merging of pillar data with the data from defaults

{# Start with  defaults from defaults.yml #}
{% import_yaml 'docker/defaults.yml' as default_settings %}

{#
Setup variable using grains['os_family'] based logic. This data will be shared
across all oscodenames (jessie, stretch, etc).
#}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
          'conf_file_path': '/etc/default/docker',
          'repo': 'apt',
          'repo_url': 'https://download.docker.com/linux/debian',
          'key_url': 'https://download.docker.com/linux/debian/gpg',
          'pkg_deps': [
            'apt-transport-https',
            'ca-certificates',
            'curl',
            'gnupg2',
            'software-properties-common',
          ]
        },
        'Suse': {},
        'Arch': {},
        'RedHat': {
          'conf_file_path': '/etc/sysconfig/docker',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('docker:lookup'))
%}

{#
Setup variable using grains['oscodename'] based logic. Add key:value pairs here
for configurations specific to os versions.
#}
{% set os_codename_map = salt['grains.filter_by']({
        'jessie': {},
        'stretch': {},
  }
  , grain="oscodename"
  , merge=salt['pillar.get']('docker:lookup'))
%}

{# Merge the flavor_map to the default settings #}
{% do default_settings.docker.update(os_family_map) %}
{% do default_settings.docker.update(os_codename_map) %}

{# Merge in template:lookup pillar #}
{% set docker = salt['pillar.get'](
        'docker',
        default=default_settings.docker,
        merge=True
    )
%}
